idioma : php

php :
  - 7.3
  - 7.4 instant치nea
  - todas las noches

matriz :
  allow_failures :
    - php : todas las noches
  fast_finish : true

env :
  matriz :
    - DEPENDENCIAS = "alto"
    - DEPENDENCIAS = "bajo"
  global :
    - DEFAULT_COMPOSER_FLAGS = "- sin interacci칩n --no-ansi --no-progress --no -gerir"

antes_instalar :
  - ./tools/composer clear-cache

instalar :
  - if [["$ DEPENDENCIES" = 'alto']]; luego travis_retry ./tools/composer update $ DEFAULT_COMPOSER_FLAGS; fi
  - if [["$ DEPENDENCIES" = 'bajo']]; luego travis_retry ./tools/composer update $ DEFAULT_COMPOSER_FLAGS --prefer-lower; fi

before_script :
  - echo 'zend.assertions = 1' >> ~ / .phpenv / version / $ (phpenv version-name) /etc/conf.d/travis.ini
  - echo 'afirmar.excepci칩n = Encendido' >> ~ / .phpenv / versiones / $ (phpenv version-name) /etc/conf.d/travis.ini

gui칩n :
  - ./phpunit --coverage-clover = coverage.xml

after_success :
  - bash <(curl -s https://codecov.io/bash)
jobs:
  include:
    - script: ./test 1 # uses the default stage name "test"
    - script: ./test 2
    - stage: deploy
      script: ./deploy target-1
    - script: ./deploy target-2
