<? versión xml = " 1.0 " codificación = " UTF-8 " ?>
< phpunit  backupGlobals = " false "
         backupStaticAttributes = " false "
         beStrictAboutTestsThatDoNotTestAnything = " true "
         beStrictAboutOutputDuringTests = " true "
         bootstrap = " vendor / autoload.php "
         colores = " verdadero "
         convertErrorsToExceptions = " true "
         convertNoticesToExceptions = " true "
         convertWarningsToExceptions = " true "
         failOnRisky = " verdadero "
         failOnWarning = " true "
         processIsolation = " false "
         stopOnError = " false "
         stopOnFailure = " false "
         detallado = " verdadero "
>
    < testuites >
        < testsuite  name = " Paquete Test Suite " >
            < directorio  sufijo = " .php " > ./ pruebas </ directorio >
        </ testuite >
    </ testsuites >
</ phpunit >
